body {
    font-family: Arial, sans-serif;
    background-color: #ffe5e0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo {
    background-color: rgba(255, 87, 34, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(11, 11, 11, 0.9);
    text-align: center;
    width: 300px;
}

h1 {
    color: #fff;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff5722;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #e64a19;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.todo img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
